
<div class='grid grid-cols-12 pl-16 mt-3'>
    <div class='grid grid-cols-12 col-start-2 col-end-11 text-gray-800'>
        <div class='col-span-6 bg-white mx-2 mb-4 p-8' *ngFor='let group of groups'
        style='box-shadow:0 8px 5px 5px rgba(0,0,0,0.1)'>
            <div class='flex flex-row justify-between items-center'>
                <div class='w-16 h-16 baloo-bhaina text-xl text-white flex flex-row
                justify-center items-center' style='background:#335c67; box-shadow:-4px 6px 5px 5px rgba(0,0,0,0.06)'>
                    <p class='m-0 mt-1'>{{ getAlias(group.name) }}</p>
                </div>
                <div class='flex flex-row justify-center'>
                    <p class='underline m-0 cursor-pointer mr-4'>view</p>
                    <p class='underline m-0 cursor-pointer mr-8'>delete</p>
                </div>
            </div>
            <div class='flex flex-col mt-3'>
                <p class='m-0 mb-1'>{{ group.name }}</p>
                <p class='m-0 mb-1'>
                    <a href='{{ group.url }}' target='blank'>{{ group.url }}</a>
                </p>
                <p class='m-0 mb-1'>{{ group.num_urls }} urls</p>
                <p class='m-0' style='font-size:0.94rem;'>created {{ group.created_at }}</p>
            </div>
        </div>
    </div>
</div>
