
<div *ngIf='groups.length == 0 && fetched' class='w-full flex flex-row justify-center items-center' style='height:calc(80vh - 144px)'>
    <div class='flex flex-col'>
        <i class='em em-anguished text-2xl xs:text-3xl sm:text-4xl mb-2'></i>
        <p class='m-0 ml-1 text-lg'>no groups to display</p>
    </div>
</div>
 
<div class='grid grid-cols-12 px-5 sm:px-0 lg:pl-20 lg:mt-3' *ngIf='groups.length > 0 && fetched'>
    <div class='grid grid-cols-12 px-2 sm:px-0 col-span-12 sm:col-start-2 sm:col-end-12 lg:col-end-11 text-gray-800'>
        <div class='col-span-12 sm:col-span-6 bg-white sm:mx-2 mb-4 p-8 shadow-lg' *ngFor='let group of groups'> 
            <div class='flex flex-row justify-between items-center'>
                <div class='alias'>
                    <p class='m-0 mt-1'>{{ getAlias(group.name) }}</p>
                </div>
                <div class='flex flex-row justify-center'>
                    <p class='underline m-0 cursor-pointer mr-8' (click)='view(group.id)'>view</p>
                </div> 
            </div>
            <div class='flex flex-col mt-5'>
                <p class='m-0'>{{ group.name }}</p>
                <p class='m-0'>
                    <a href='{{ group.url }}' target='_blank'>{{ group.url }}</a>
                </p>
                <p class='m-0'>{{ group.num_urls }} urls. {{ group.num_redirects }} redirects</p>
                <p class='m-0' style='font-size:0.94rem;'>created {{ group.created_at }}</p>
            </div>
        </div>
    </div>
    <div class='col-span-12 sm:col-start-2 sm:col-end-11 my-6 ml-2 flex flex-row' *ngIf='pages > 1'>
        <div [ngClass]="{'bg-baseGreen':activePage == j+1, 'text-white':activePage == j+1}" class='cursor-pointer flex flex-row justify-center items-center
         w-12 h-12 rounded mr-3 mb-3' (click)='fetch(j+1)' *ngFor='let i of [].constructor(pages); let j = index'>
            <p class='text-lg'>{{ j + 1 }}</p>
        </div>
    </div>
</div>
