
<div class='grid grid-cols-12 px-5 sm:px-0 lg:pl-20 mt-4 lg:mt-3'>
    <div class='grid grid-cols-12 col-span-12 sm:col-start-2 sm:col-end-12 lg:col-end-11 text-gray-800'>
        <div class='p-8 bg-white box-shadow flex flex-row justify-between col-span-12 mx-2 border-shadow'>
            <div class='flex flex-col sm:flex-row sm:items-center'>
                <div class='w-16 h-16 baloo-bhaina sm:mr-5 mb-3 sm:mb-0 text-xl text-white flex flex-row
                justify-center items-center bg-baseGreen'>
                    <p class='m-0 mt-1'>{{ getAlias(group.name) }} </p>
                </div>
                <div class='flex flex-col'>
                    <p class='m-0 mb-1'><b>{{ group.name }}</b></p>
                    <p class='m-0'><a href='{{ group.url }}'>{{ group.url }}</a></p>  
                    <p class='m-0'>{{ group.num_urls }} urls. {{ group.num_redirects }} redirects</p>
                    <p class='m-0 text-sm'>created {{ group.created_at }}</p>
                </div>
            </div>
            <div class='flex flex-row items-center mr-4 sm:mr-16'>
                <p class='m-0 mr-3 underline cursor-pointer' (click)='edit(group.id)'>edit</p>
                <p class='m-0 underline cursor-pointer' (click)='delete(group.id)'>delete</p>
            </div>
        </div>
    </div>
    <div class='flex flex-row col-span-12 sm:col-start-2 sm:col-end-12 my-4 ml-2'>
        <p class='m-0 mr-3 underline cursor-pointer' (click)='view(true)'>urls</p>
        <p class='m-0 underline cursor-pointer' (click)='view(false)'>redirects</p>
    </div>

    <div class='col-span-12 sm:col-start-2 sm:col-end-12 px-2 sm:px-0 lg:col-end-11 grid grid-cols-12' *ngIf='viewUrls'>
        <app-url [url]='url' (viewUrl)='viewUrlDetails($event)' *ngFor='let url of urls' class='col-span-12 sm:col-span-6 sm:mx-2 mb-4'></app-url>
        
        <div class='col-span-12 my-6 ml-2 flex flex-row' *ngIf='urlPages > 1'>
            <div (click)='fetchUrls(j+1)' [ngClass]="{'bg-baseGreen':activeUrlPage == j+1, 'text-white':activeUrlPage == j+1}" class='cursor-pointer flex flex-row justify-center items-center
             w-12 h-12 rounded mr-3 mb-3' *ngFor='let i of [].constructor(urlPages); let j = index'>
                <p class='text-lg'>{{ j + 1 }}</p>
            </div>
        </div>
    </div>
    <div class='col-span-12 sm:col-start-2 sm:col-end-12 px-2 sm:px-0 lg:col-end-11 grid grid-cols-12' *ngIf='!viewUrls'>
        <app-view-redirect [redirect]='redirect' *ngFor='let redirect of redirects' class='col-span-12 sm:col-span-6 sm:mx-2 mb-4'></app-view-redirect>
    
        <div class='col-span-12 my-6 ml-2 flex flex-row' *ngIf='redirectPages > 1'>
            <div (click)='fetchRedirects(j+1)' [ngClass]="{'bg-baseGreen':activeRedirectPage == j+1, 'text-white':activeRedirectPage == j+1}" class='cursor-pointer flex flex-row justify-center items-center
             w-12 h-12 rounded mr-3 mb-3' *ngFor='let i of [].constructor(redirectPages); let j = index'>
                <p class='text-lg'>{{ j + 1 }}</p>
            </div>
        </div>
    </div>
</div>