
<div class='w-screen h-screen bg-offwhite grid grid-cols-12'>
    <div class='col-span-12 sm:col-span-6 flex flex-row items-end sm:items-center justify-center sm:ml-8 md:ml-16 lg:ml-0 sm:h-full'>
        <img src='/assets/images/error/404.svg' class='relative'>
    </div>
    <div class='col-span-12 sm:col-span-6 flex flex-row items-start sm:items-center sm:ml-8 md:ml-16 lg:ml-0'>
        <div class='relative flex flex-col items-center sm:items-start baloo-bhaina main__content'>
            <p class='m-0 mb-1 text-5xl md:text-6xl'>Oops!</p>
            <p class='m-0 mb-3 mx-8 sm:mx-0 text-center sm:text-left sm:mr-8 md:mr-0 text-2xl md:w-3/4'>
            Sorry, we could not find the page you were looking for.
            </p>
            <a routerLink='' class='text-white rounded px-4 pt-4 pb-3 bg-darkblue text-center' style='width:180px'>Get me out of here</a>
        </div>
    </div>
</div>