
 <div class='grid grid-cols-12 form__parent__height flex flex-row items-center pt-4 xs:pt-0 sm:items-start sm:mt-40 md:mt-48 lg:mt-12' *ngIf='fetched'>
    <div class='col-span-12 px-5 sm:px-0 sm:col-start-2 sm:col-end-12 md:col-start-3 md:col-end-11 lg:col-end-10'>
        <div class='lowercase bg-white p-5 text-md mb-2 text-gray-700 shadow-lg'>
            edit trimm.in/{{ url.short_path }} 
        </div> 
        <form class='bg-white shadow-lg px-6 py-8' [formGroup]='editForm' (ngSubmit)='submit(editForm)'>
            <div class='flex flex-col mb-3'>
                <p class='text-md text-gray-700 mb-3'>url</p>
                <input type='text' formControlName='url' (input)='setUrlText($event.target.value)' class='lowercase focus:outline-none text-gray-700 focus:bg-offwhite border p-3' required>
                <p class='pt-2 text-red-600 text-xs' *ngIf='form_url.dirty && form_url.invalid'>enter a valid url</p>
            </div>
            <div class='flex flex-col mb-5'>
                <p class='text-md text-gray-700 mb-3'>shortened link</p>
                <input type='text' value='{{ url.short_path }}' class='lowercase focus:outline-none text-gray-700 focus:bg-offwhite border p-3' readonly required>
            </div>
            <div>
                <button type='submit' class='focus:outline-none text-white px-3 py-2 mb-3 rounded-sm lg:rounded bg-darkblue' [disabled]='editForm.invalid' style='font-size:0.92em'>update</button>
            </div>
        </form>
    </div>
</div>

<img src='/assets/images/dashboard/reply.png' class='back__icon' (click)='emitViewUrl()'>
