

<div class='grid grid-cols-12 mt-2' *ngIf='loaded'>
    <div class='col-start-3 col-span-7 flex flex-col'>
        <div class='lowercase bg-white p-5 text-md mb-2 rounded-md text-gray-700 border'
        style='border-color:rgba(0,0,0,0.06);'>
            Shorten a new url
        </div>
        <form class='bg-white border px-6 py-8 rounded-lg' [formGroup]='shortenForm'
        (ngSubmit)='submit(shortenForm)' style='border-color:rgba(0,0,0,0.06);'>
            <div class='flex flex-col mb-5'>
                <p class='text-md text-gray-700 mb-3'>group</p>
                <select formControlName='group' class='text-gray-700 focus:bg-offwhite border p-3' (change)="toggleUrlText()">
                    <option value='none' selected>None</option>
                    <option *ngFor='let group of groups' value='{{ group.id }}'>{{ group.name }}</option>
                </select>
            </div>
            <div class='flex flex-col mb-3'>
                <p class='text-md text-gray-700 mb-3'>length</p>
                <select formControlName='length' class='text-gray-700 focus:bg-offwhite border p-3'>
                    <option value='5' selected>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                </select>
            </div>
            <div class='flex flex-col mb-5'>
                <p class='text-md text-gray-700 mb-3'>url</p>
                <input type='text' formControlName='url' class='text-gray-700 focus:bg-offwhite border p-3' (input)='setUrl($event.target.value)' required>
                <p class='pt-2 text-red-600 text-xs' *ngIf='url.dirty && url.invalid'>enter a valid url</p>
            </div>
            <div>
                <button type='submit' class='focus:outline-none text-white p-2 bg-darkblue rounded' [disabled]='shortenForm.invalid'>shorten</button>
            </div>
        </form>
    </div>
</div>