
<div class='grid grid-cols-12'>
    <div class='col-start-2 col-end-11 grid grid-cols-12'>
        <div class='col-span-4 flex flex-row justify-around p-6 items-center mr-5 bg-white' style='border-radius:5px 25px 25px 5px;box-shadow:0 8px 6px 5px rgba(0,0,0,0.09)'>
            <img src='/assets/images/dashboard/groups.svg' class='w-16 h-16'>
            <div class='flex flex-col items-center'>
                <p class='m-0 mb-3 text-gray-600'>Url Groups</p>
                <p class='m-0 text-2xl'>4</p>
            </div>
        </div>
        <div class='col-span-4 flex flex-row justify-around p-2 mr-5 items-center bg-white' style='border-radius:5px 25px 25px 5px;box-shadow:0 8px 6px 5px rgba(0,0,0,0.09)'>
            <img src='/assets/images/dashboard/urls.svg' class='w-20 h-20'>
            <div class='flex flex-col items-center'>
                <p class='m-0 mb-3 text-gray-600'>Urls</p>
                <p class='m-0 text-2xl'>24</p>
            </div>
        </div>
        <div class='col-span-4 flex flex-row justify-around p-2 items-center bg-white' style='border-radius:5px 25px 25px 5px;box-shadow:0 8px 6px 5px rgba(0,0,0,0.09)'>
            <img src='/assets/images/dashboard/redirect.svg' class='w-24 h-24'>
            <div class='flex flex-col items-center'>
                <p class='m-0 mb-3 text-gray-600'>Link Redirects</p>
                <p class='m-0 text-2xl'>24</p>
            </div>
        </div>
    </div>
</div>