
<div class='flex flex-row py-8 sm:py-10 lg:py-6 pl-5 pr-6 sm:px-6 justify-between items-center'>
    <div class='flex flex-row h-12 lg:pl-4 z-50'>
        <div (click)='display()' class='fixed mt-3 nav__toggle w-6 cursor-pointer lg:hidden'>
            <span [ngClass]="{'bg-darkblue':!barsClicked, 'bg-white':barsClicked}" class='absolute transition-colors duration-300 ease-in top-0 left-0 w-full'></span>
            <span [ngClass]="{'bg-darkblue':!barsClicked, 'bg-white':barsClicked}" class='absolute transition-colors duration-300 ease-in top-0 mt-3 w-3/5 left-0'></span>
            <span [ngClass]="{'bg-darkblue':!barsClicked, 'bg-white':barsClicked}" class='absolute transition-colors duration-300 ease-in top-0 mt-6 w-full left-0'></span>
        </div>
        <p class='text-md hidden lg:inline'>trim</p> 
    </div>
    <div class='relative'>
        <div class='flex flex-row items-center cursor-pointer' (click)='toggleOptions()'>
            <img src='data:image/png;base64,{{ user.avatar }}' class='lg:rounded-none object-cover border border-color-005 w-10 h-10 lg:rounded-full mr-3' #userImage>
            <p class='m-0 text-md text-gray-600'>{{ user.name | slice:0:13 }}...</p>
            <div class='w-5 h-5 flex flex-row rounded-lg ml-2 justify-center items-center' style='background:rgba(0,0,0,0.05)'>
                <i class='text-gray-600 fa fa-caret-down text-xs'></i>
            </div>   
        </div>
        <div [ngClass]="{'active':options, 'z--9999':!options, 'z-20':options}" class='transition-all duration-300 ease-in absolute text-white p-4 w-3/4 flex flex-col items-center text-sm rounded-lg nav__options' style='background:rgba(0,0,0,0.5)'>
            <p class='m-0 mb-3 cursor-pointer text-center' (click)='clickFile()'>change picture</p>
            <p class='m-0 mb-3 cursor-pointer text-center' (click)='upload()'  *ngIf='allowUpload'>update</p>
            <input type='file' class='hidden' (change)='preview($event.target)' #fileInput>
            <p class='m-0 cursor-pointer' (click)='logout()'>logout</p>
        </div>
    </div>
</div>