
<div class='w-screen h-min-screen grid grid-cols-12 quicksand'>
    <div class='col-span-2 h-screen pt-16 px-8 bg-darkblue'>
        <app-sidebar (toggle)="switchTab($event)"></app-sidebar>
    </div>
    <div class='col-span-10 bg-offwhite'>
        <app-header></app-header>
        <app-dashboard *ngIf='tabs.dashboard'></app-dashboard>
        <app-new-group *ngIf='tabs.new_group'></app-new-group>
        <app-edit-group *ngIf='tabs.edit_group' [group_id]='activeGroupID'></app-edit-group>
        <app-groups *ngIf='tabs.groups' (viewGroup)='switchTab($event.tab, $event.id)'></app-groups>
        <app-group *ngIf='tabs.group' (editGroup)='switchTab($event.tab, $event.id)' [group_id]='activeGroupID'></app-group>
        <app-shorten *ngIf='tabs.shorten'></app-shorten>
        <app-shortened-urls *ngIf='tabs.short_urls'></app-shortened-urls>
    </div>
</div>