
.web__img
{
    width:350px;
}

@media(max-width:1025px)
{
    .landing__page
    {
        height:50vh;
    }
}

@media(max-width:769px)
{
    .web__img
    {
        width:170px;
    }
}


@media(max-width:576px)
{
    .web__img
    {
        width:140px;
    }
}

