<div class='w-screen lg:h-screen flex flex-row items-center p-4 sm:p-8 lg:p-0 grid grid-cols-12 bg-white quicksand relative landing__page'>
    <div class='col-span-12 h-full lg:h-3/4 lg:col-start-3 lg:col-end-11 relative p-6 sm:p-8 md:p-16 flex flex-row items-center lg:items-start' style='background:rgba(209, 221, 219, 0.13);'>
        <div class='flex flex-col w-full sm:w-64 lg:mt-12 lg:pt-3 text-gray-800 lowercase'>
            <p class='m-0 ml-1 mb-3 text-2xl sm:text-3xl'>Trim</p>
            <p class='text-md sm:text-lg ml-2 mb-4'>
               A tool to shorten links on the world wide web and still point to your original site or page. Reliable, fast and secure.
            </p>
            <div class='flex flex-row'>
                <a routerLink='/auth/signup' class='rounded-sm sm:rounded-none active:bg-darkBlueOpaque ml-2 p-2 bg-black text-white mr-2 w-20 sm:w-24 text-center bg-darkblue' style='box-shadow:2px 5px 3px 3px rgba(0,0,0,0.1)'>Signup</a>
                <a routerLink='/auth/login' class='rounded-sm lg:hidden border border-color-005 active:bg-darkBlueOpaque ml-2 p-2 text-black w-20 sm:w-24 text-center'>Login</a>
            </div>
        </div>
        <img src='/assets/images/home/download.svg' width='390px' class='hidden lg:inline absolute' style='top:50px;right:-100px'>
    </div>
    <div class='hidden lg:flex absolute h-1/4 top-0 flex-row items-start justify-between pl-6 pr-10 py-8 w-screen'>
        <a routerLink=''>trim</a> 
        <div class='flex flex-row'>
            <a routerLink='/auth/signup' class='active:outline-none underline mr-3'>signup</a>
            <a routerLink='/auth/login' class='active:outline-none underline'>login</a>
        </div>
    </div>
</div>
<div class='flex grid grid-cols-12 quicksand bg-darkblue pt-12 pb-16 md:py-5'>
   <div class='col-span-12 md:col-start-1 md:col-end-6 mb-10 md:mb-0 md:pl-8 lg:px-0 flex flex-row justify-center'>
        <img src='/assets/images/home/webI.svg' class='web__img'>
   </div>
   <div class='col-span-12 px-8 sm:px-16 md:col-start-6 md:col-end-13 flex flex-col text-white justify-center md:p-16 md:pr-20 lg:p-10 lg:pr-64'>
        <div class='flex flex-col mb-5 text-justify md:text-left'>
            <p class='m-0 mb-1 baloo-bhaina text-center md:text-left' style='font-size:1.095rem'>Build Engagement</p>
            <p class='m-0' style='font-size:0.975rem'>Leverage the power of shortened urls to create engagement and clicks to your blog or site. Shortened links
                are easier for your audience to engage with, as opposed to long, verbose links.
            </p>
        </div>
        <div class='flex flex-col mb-5 text-justify md:text-left'>
            <p class='m-0 text-lg mb-1 baloo-bhaina text-center md:text-left'>Ease of Sharing</p>
            <p class='m-0' style='font-size:0.975rem'>
                Create convenient sharing for your potential readers by making use of shortened links which make it easier for them to
                click, copy and share your content.
            </p>
        </div>
        <div class='flex flex-col text-justify md:text-left'>
            <p class='m-0 text-lg mb-1 baloo-bhaina text-center md:text-left'>Professionalism</p>
            <p class='m-0' style='font-size:0.975rem'>
                Give your operations a sheen of professionalism by making use of shortened links. These days, nobody likes sloppy,
                untidy urls. Don't be the operation with the unprofesssional look.
            </p>
        </div>
    </div>
</div>
<div class='flex flex-row quicksand grid grid-cols-12 px-6 sm:px-8 lg:px-0 py-6 sm:py-10'>
    <div class='col-span-12 lg:col-start-2 lg:col-end-12 px-8 lg:px-0 grid grid-cols-12 rounded-md' style='background:rgba(209, 221, 219, 0.13)'>
        <div class='col-span-12 md:col-span-8 lg:pl-12 sm:py-24 py-12 grid grid-cols-12'>
            <div class='col-span-12 sm:col-span-6 flex flex-col items-center sm:items-start sm:flex-row mb-10 mr-4'>
                <img src='/assets/images/home/webII.svg' class='sm:mr-4 lg:mr-5 w-12 h-12'>
                <div class='flex flex-col items-center sm:items-start mt-5 sm:mt-1'>
                    <p class='m-0 ml-1 mb-1 text-lg baloo-bhaina'>Unlimited URLs</p>
                    <p class='m-0 ml-1 text-gray-800 text-justify sm:text-left' style='font-size:0.975rem'>With Trim, there are no limits on the number of shortened urls you can create. As a free service,
                        Trim is committed to providing you the best shortening services at no cost
                    </p>
                </div>
            </div>
            <div class='col-span-12 sm:col-span-6 flex flex-col items-center sm:items-start sm:flex-row items-start mb-10'>
                <img src='/assets/images/home/link.png' class='sm:mr-4 lg:mr-5 w-12 h-12'>
                <div class='flex flex-col items-center sm:items-start mt-5 sm:mt-1'>
                    <p class='m-0 mb-1 text-lg baloo-bhaina'>URL Groups</p>
                    <p class='m-0 text-gray-800 text-justify sm:text-left' style='font-size:0.975rem'>Say you have a blog or site that you regularly need to shorten links for, simply create a url group in
                        Trim and subsequently generate shortened links for the url.
                    </p>
                </div>
            </div>
            <div class='col-span-12 sm:col-span-6 flex flex-col items-center sm:items-start sm:flex-row items-start md:mb-5'>
                <img src='/assets/images/home/graph.png' class='sm:mr-4 lg:mr-5 w-12 h-12'>
                <div class='flex flex-col items-center sm:items-start mt-5 sm:mt-1'>
                    <p class='m-0 mb-1 text-lg baloo-bhaina'>Track Clicks</p>
                    <p class='m-0 text-gray-800 text-justify sm:text-left' style='font-size:0.975rem'>
                        Make use of Trim's intuitive graphical features to determine metrics like the location of your highest engagement, your 
                        most visited urls and more.
                    </p>
                </div>
            </div>
        </div>
        <div class='hidden md:flex col-span-4 flex-row justify-end lg:justify-center items-center'>
            <img src='/assets/images/home/offline.svg' width='220px'>
        </div>
    </div>
</div>
<div class='grid grid-cols-12 px-8 sm:px-16 md:px-8 py-16 md:py-24 lg:py-16 text-white quicksand' style='background:#283B42'>
    <div class='col-span-12 md:col-start-1 lg:col-start-2 mb-6 md:mb-0 md:pl-8 lg:pl-0 md:col-end-5 flex flex-col'>
        <p class='m-0 mb-1 text-2xl sm:text-3xl baloo-bhaina'>Trim</p>
        <p class='m-0 ml-1'>
            Real time url shortening service.
            Improving your brand engagement by taking advantage of the latest technology to provide convenience to your audience.
        </p>
    </div>
    <div class='col-span-12 md:col-start-5 lg:col-end-9 md:col-end-10 mb-6 md:mb-0 md:pl-8 lg:pl-16 flex flex-col'>
        <p class='m-0 mb-1 md:mb-3 text-xl sm:text-2xl baloo-bhaina'>CONTACT</p>
        <div class='flex flex-row items-center mb-3'>
            <i class='fas fa-map-marker-alt mr-3'></i>
            <p class='m-0'>3, Bisi Awosika Street, Ologolo, Lekki</p>
        </div>
        <div class='flex flex-row items-center mb-3'>
            <i class='fas fa-phone-alt mr-3'></i>
            <p class='m-0'>+2348179868840</p>
        </div>
        <div class='flex flex-row items-center'>
            <i class='fas fa-envelope mr-3'></i>
            <p class='m-0'><a href='mailto:olamileke.dev@gmail.com'>support@trimm.in</a></p>
        </div>
    </div>
    <div class='col-span-12 md:col-start-10 md:col-end-13 lg:col-start-9 lg:col-end-12 lg:pl-16 flex flex-col'>
        <p class='m-0 mb-2 md:mb-3 text-xl sm:text-2xl baloo-bhaina'>SOCIAL MEDIA</p>
        <div class='flex flex-row items-center mb-3'>
            <i class='fab fa-facebook mr-3'></i>
            <a href='https://www.facebook.com/fambegbe.olamileke' target="_blank"> Facebook</a>
        </div>
        <div class='flex flex-row items-center mb-3'>
            <i class='fab fa-twitter mr-3'></i>
            <a href='https://twitter.com/f_olamileke' target='_blank'>Twitter</a>
        </div>
        <div class='flex flex-row items-center'>
            <i class='fab fa-instagram mr-4'></i>
            <a href='https://instagram.com/f_olamileke' target='_blank'>Instagram</a>
        </div>
    </div>
</div>