
.web__img
{
    width:350px;
}

.signup__btn
{
    box-shadow:2px 5px 3px 3px rgba(0,0,0,0.1);
}

@media(max-width:1025px)
{
    .landing__page
    {
        height:50vh;
    }

    .signup__btn
    {
        box-shadow:unset;
    }
}

@media(max-width:769px)
{
    .landing__page
    {
        height:70vh;
    }

    .web__img
    {
        width:170px;
    }
}


@media(max-width:576px)
{
    .web__img
    {
        /* width:140px; */
    }
}

