@tailwind base;

@tailwind components;

@responsive
{
    .alias
    {
        @apply w-16 h-16 baloo-bhaina text-xl text-white flex flex-row justify-center items-center bg-baseGreen;
    }
}

@tailwind utilities;

@responsive
{
    .quicksand
    {
        font-family:'Quicksand', sans-serif;
    }

    .baloo-bhaina
    {
        font-family:'Baloo bhaina 2', cursive;
    }

    .medium-shadow
    {
        box-shadow:-4px 6px 5px 5px rgba(0,0,0,0.06);
    }

    .light-shadow
    {
        box-shadow:0px 3px 8px 3px rgba(0,0,0,0.1);
    }

    .border-color-005
    {
        border-color:rgba(0,0,0,0.05);
    }
}
