
<div class='grid grid-cols-12 form__parent__height flex flex-row items-center pt-4 xs:pt-0 sm:items-start sm:mt-40 md:mt-48 lg:mt-12' *ngIf='fetched'>
    <div class='col-span-12 px-5 sm:px-0 sm:col-start-2 sm:col-end-12 md:col-start-3 md:col-end-11 lg:pl-3 lg:pr-16 lg:ml-2 lg:col-end-11'>
        <div class='lowercase shadow-md bg-white p-5 text-md mb-3 text-gray-700'>
           Edit {{ group.name }} 
        </div>
        <form class='bg-white shadow-md px-6 py-8' [formGroup]='editForm' (ngSubmit)='submit(editForm)'>
            <div class='flex flex-col mb-3'>
                <p class='text-md text-gray-700 mb-3'>name</p>
                <input type='text' formControlName='name' class='lowercase focus:outline-none text-gray-700 focus:bg-offwhite border p-3' required>
                <p class='font-semibold pt-2 text-xs' style='color:red;' *ngIf='name.dirty && name.invalid'>name must be at least 5 characters</p>
            </div>

            <div class='flex flex-col mb-5'> 
                <p class='text-md text-gray-700 mb-3'>url</p> 
                <input type='text' formControlName='url' class='lowercase focus:outline-none text-gray-700 focus:bg-offwhite border p-3' required>
                <p class='font-semibold pt-2 text-xs' style='color:red;' *ngIf='url.dirty && url.invalid'>enter a valid url</p>
            </div>
            <div>
                <button type='submit' class='focus:outline-none text-white px-3 py-2 mb-3 rounded-sm lg:rounded bg-darkblue' [disabled]='editForm.invalid' style='font-size:0.92em'>update</button>
            </div>
        </form>
    </div> 
</div>

<img src='/assets/images/dashboard/reply.png' class='back__icon' (click)='emitViewGroup()'>
