
<div class='w-screen h-screen overflow-y-hidden grid grid-cols-12 px-8 lg:px-0'>
    <div class='col-span-12 lg:col-start-2 lg:col-end-11 flex flex-row justify-around lg:justify-between h-full'>
        <div class='hidden md:flex h-full lg:ml-8 flex-row items-center'>
            <img src='/assets/images/auth/data.svg'>
        </div>
        <div class='h-full flex flex-row items-center lg:mt-3 w-full sm:w-3/4 md:w-auto'>
            <form class='border border-color-005 p-6 w-full quicksand rounded-lg' [formGroup]='signupForm' (ngSubmit)='signup(signupForm)' *ngIf="type == 'signup'">
                <div class='flex flex-col mb-3'>
                    <p class='m-0 mb-2 text-gray-600 text-sm'>name</p>
                    <input type='text' formControlName='name' class='focus:outline-none capitalize p-3 border bg-transparent border-color-005 w-full text-sm text-gray-600' required>
                    <p class='text-xs pt-2 text-red-500' *ngIf='signupName.dirty && signupName.invalid'>name must be at least 7 characters</p>
                </div>
                <div class='flex flex-col mb-3'>
                    <p class='m-0 mb-2 text-gray-600 text-sm'>email</p>
                    <input type='email' formControlName='email' class='focus:outline-none lowercase p-3 border bg-transparent border-color-005 w-full text-sm text-gray-600'>
                    <p class='text-xs pt-2 text-red-500' *ngIf='signupEmail.dirty && signupEmail.invalid'>enter a valid email address</p>
                </div>
                <div class='flex flex-col mb-5'>
                    <p class='m-0 mb-2 text-gray-600 text-sm'>password</p>
                    <input type='password' formControlName='password' class='focus:outline-none p-3 border bg-transparent border-color-005 w-full text-sm text-gray-600'>
                    <p class='text-xs pt-2 text-red-500' *ngIf='signupPassword.dirty && signupPassword.invalid'>password must be at least 8 characters</p>
                </div>
                <div class='flex flex-col'>
                    <button type='submit' class='focus:outline-none text-white p-2 text-sm mb-3 rounded bg-darkblue' style='width:min-content' [disabled]='signupForm.invalid'>signup</button>
                    <a (click)="toggleForm('login')" class='cursor-pointer text-black text-sm text-gray-600'>login</a>
                </div>
            </form>

            <form class='border border-color-005 p-6 w-full quicksand rounded-lg' [formGroup]='loginForm' (ngSubmit)='login(loginForm)' *ngIf="type == 'login'">
                <div class='flex flex-col mb-3'>
                    <p class='m-0 mb-2 text-gray-600 text-sm'>email</p>
                    <input type='email' formControlName='email' class='focus:outline-none p-3 border bg-transparent border-color-005 w-full text-sm text-gray-600'>
                    <p class='text-xs pt-2 text-red-500' *ngIf='loginEmail.dirty && loginEmail.invalid'>enter a valid email address</p>
                </div>
                <div class='flex flex-col mb-5'>
                    <p class='m-0 mb-2 text-gray-600 text-sm'>password</p>
                    <input type='password' formControlName='password' class='focus:outline-none p-3 border bg-transparent border-color-005 w-full text-sm text-gray-600'>
                    <p class='text-xs pt-2 text-red-500' *ngIf='loginPassword.dirty && loginPassword.invalid'>password must be at least 8 characters</p>
                </div>
                <div class='flex flex-col'>
                    <button type='submit' class='focus:outline-none text-white px-3 py-2 text-sm mb-3 rounded bg-darkblue' style='width:min-content' [disabled]='loginForm.invalid'>login</button>
                    <div class="flex flex-row">
                        <a (click)="toggleForm('signup')" class='mr-2 cursor-pointer text-black text-sm text-gray-600 mb-1'>signup</a>  
                        <a href='/' class='text-black text-sm text-gray-600'>forgot password</a>
                    </div>        
                </div>
            </form>
        </div>
    </div>
</div>

<div class='absolute top-0 flex flex-row items-start px-6 sm:px-8 md:px-10 py-8 w-screen quicksand h-1/4'>
    <a routerLink='' class='active:outline-none cursor-pointer'>trim</a>
</div>