
input:focus
{
    background:rgba(0,0,0,0.01);
}

form
{
    width:313px
}

img
{
    width:500px;
}

@media(max-width:1025px)
{
    img
    {
        width:350px;
    }
}

@media(max-width:769px)
{
    form
    {
        width:100%;
    }
}