
<div class='flex flex-col shadow-lg bg-white p-6 sm:p-8'>
    <div class='flex flex-row justify-between items-center mb-5'>
        <div class='alias'>
            <p class='m-0 mt-1'>{{ url.short_path | slice:0:1 }}</p>
        </div> 
        <div class='flex flex-row flex-wrap sm:flex-col md:flex-row flex-wrap md:mr-6'>
            <p class='m-0 underline mr-3 cursor-pointer' (click)='view()'>more</p> 
            <p class='m-0 underline mr-3 cursor-pointer'>
                <a href='{{ app_url }}{{ url.short_path }}' target='_blank'>
                    visit
                </a>
            </p>
        </div>
    </div>
    <div class='flex flex-col text-base'>
        <p class='m-0' style='font-size:1.04em'>
            <a href='{{ app_url }}{{ url.short_path }}' target='_blank'>{{ url.short_path }}</a>
        </p>
        <p class='m-0 break-all'><a href='{{ url.path }}' target='_blank' style='font-size:1.02em'>{{ url.path }}</a></p>
        <p class='m-0 break-all'>{{ url.num_redirects }} redirects</p>
        <p class='m-0 break-all lowercase'>created {{ url.created_at }}</p>
    </div>
</div>