
<div class='grid grid-cols-12 px-5 sm:px-0 lg:pl-20 mt-4 lg:mt-3' *ngIf='fetched'>
    <div class='col-span-12 sm:col-start-2 sm:col-end-12 lg:col-end-11 text-gray-800'>
        <div class='p-8 bg-white box-shadow flex flex-col sm:flex-row justify-between col-span-12 mx-2 border-shadow'>
            <div class='flex flex-col md:flex-row md:items-center'>
                <div class='w-16 h-16 baloo-bhaina md:mr-5 mb-3 md:mb-0 text-xl text-white flex flex-row
                justify-center items-center bg-baseGreen'>
                    <p class='m-0 mt-1'>{{ url.short_path | slice:0:1 }} </p>
                </div>
                <div class='flex flex-col'>
                    <p class='m-0 mb-1'><b>{{ url.short_path }}</b></p>
                    <p class='m-0'><a href='{{ url.path }}'>{{ url.path }}</a></p>  
                    <p class='m-0'>{{ getGroupName(url.group_name) }}{{ url.redirects.length }} redirects</p>
                    <p class='m-0 sm:text-sm'>created {{ url.created_at }}</p>
                </div>
            </div>
            <div class='mt-2 sm:mt-0 flex flex-row items-center mr-2 sm:mr-4 md:mr-16'>
                <p class='m-0 mr-3 underline cursor-pointer'>
                    <a class='underline' href='{{ app_url }}{{ url.short_path }}' target="blank">visit</a>
                </p>
                <p class='m-0 mr-3 underline cursor-pointer' (click)='edit(url.id)'>edit</p>
                <p class='m-0 underline cursor-pointer' (click)='delete(url.id)'>delete</p>
            </div>
        </div>
    </div>
    <div class='underline my-4 ml-2 col-span-12 sm:col-start-2 sm:col-end-12'>
        redirects
    </div>
    <div class='col-span-12 sm:col-start-2 px-2 sm:px-0 sm:col-end-12 lg:col-end-11 grid grid-cols-12'>
        <app-view-redirect [redirect]='redirect' *ngFor='let redirect of url.redirects' class='col-span-12 sm:col-span-6 sm:mx-2 mb-4'></app-view-redirect>
    </div>
</div>