
<div class='grid grid-cols-12 flex flex-row form__parent__height pt-4 items-center xs:pt-0 sm:h-auto sm:items-start sm:mt-40 md:mt-48 lg:mt-10'>
    <div class='col-span-12 px-5 sm:px-0 sm:col-start-2 sm:col-end-12 md:col-start-3 md:col-end-11 lg:col-end-10'>
        <div class='shadow-lg lowercase bg-white p-5 text-md mb-2 text-gray-700'>
            Create a new URL group 
        </div>
        <form class='shadow-lg bg-white px-6 py-8' [formGroup]='newForm' (ngSubmit)='submit(newForm)'>
            <div class='flex flex-col mb-3'>
                <p class='text-md text-gray-700 mb-3'>name</p>
                <input type='text' formControlName='name' class='lowercase focus:outline-none text-gray-700 focus:bg-offwhite border p-3' required>
                <p class='pt-2 text-red-600 text-xs' *ngIf='name.dirty && name.invalid'>name must be at least 5 characters</p>
            </div> 

            <div class='flex flex-col mb-5'>
                <p class='text-md text-gray-700 mb-3'>url</p>
                <input type='text' formControlName='url' class='lowercase focus:outline-none text-gray-700 focus:bg-offwhite border p-3' required>
                <p class='pt-2 text-red-600 text-xs' *ngIf='url.dirty && url.invalid'>enter a valid url</p>
            </div>
            <div>
                <button type='submit' class='focus:outline-none text-white px-3 py-2 mb-3 rounded-sm lg:rounded bg-darkblue' [disabled]='newForm.invalid' style='font-size:0.92em;'>create</button>
            </div>
        </form>
    </div>
</div>